{% extends "base.html" %}
{% block content %}
<!-- Your error message logic and HTML here. -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<form method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
    <label for="username">Password</label>
    <input id="password" type="text" name="password">
    <input type="submit" value="Login">
</form>
{% endblock content %}